[Unit]
Description=Wake on Lan Service

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/wol-server -config=/etc/wol-server/config.toml

[Install]
WantedBy=multi-user.target
