[Unit]
Description=Wake on Lan Service

[Service]
TimeoutStartSec=0
ExecStart=/opt/waas/wol-server -configFile=/opt/waas/config.toml -listenPort=80

[Install]
WantedBy=multi-user.target
