{{ define "header" }}
<!doctype html>
<html lang="en">
	<meta charset="utf-8">
	<meta name="description" content="wake on lan as a service, not!">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}</title>
	
	<div id="gradient-container">
		<div id="content">
			<h1>wake on lan as a service</h1>
{{ end }}