{{ template "header" }}
			<div>
				{{ range $name, $data := .Hosts.Workstations }}
				<a style="color:{{ if $data.Alive}} green;{{ else }} red;{{ end }}"href="wake/{{ $name }}">{{ $data.NAME }}</a><br />
				{{ end }}
			</div>
{{ template "footer" }}